<div class='container-fluid'>
    <footer class="border-top pt-5">
    <div class="d-flex justify-content-between">
      <div class="col-6 col-md-2 mb-3">
        <h5>Nos coordonnées</h5>
        {{ render(controller('App\\Controller\\FooterController::contactDetails')) }}
        <a class="link-primary" href="https://maps.app.goo.gl/L3iVpTjkumoR2JSu8" target="blank">Venir nous voir</a>
      </div>
      <div class="col-6 col-md-2 mb-3">  
        <h5>Nos horaires d'ouverture</h5>
        {{ render(controller('App\\Controller\\FooterController::hours')) }}  
      </div>
    </div>

      

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4">
      <p>© 2023 Garage V. Parrot, SAS Tous droits réservés.</p>
      {# <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul> #}
    </div>
  </footer>
</div>