{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Réinitialisation mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1 class="mb-5">Réinitialisation de mot de passe</h1>
            {{ form_start(PassForm) }}
                {{ form_row(PassForm.password) }}
                <button type="submit" class="btn btn-primary">Réinitialiser</button>
            {{ form_end(PassForm) }}

        </div>
    </div>
</section>

{% endblock %}
