<div class="col-md-2 col-sm">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4 hidden">Tableau <br> de bord</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
        <a href="{{ path('app_review_index') }}" class="nav-link link-body-emphasis">
            <i class="fa-regular fa-star me-2" style="color: #d92332;"></i>
            Avis
        </a>
        </li>
        <li>
        <a href="{{ path('app_car_index') }}" class="nav-link link-body-emphasis">
            <i class="fa-solid fa-car me-2" style="color: #d92332;"></i>
            Annonces
        </a>
        </li>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-right-from-bracket" style="color: #d92332;"></i>
        </a>
        <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
        </ul>
    </div>
    </div>
</div>
