// custom variables
$primary: #d92332;
$secondary: #d9777f;
$success: #28a745;
$danger: #dc3545;
$warning: #fd7e14;
$info: #17a2b8;
$light: #f2f2f2;
$dark: #262526;
$bs-nav-link-color: var($primary);
$bs-link-color: var($primary);
$bs-link-hover-color: var($secondary);




body {
    background-color: #F2F2F2;
}

.noUi-connect, .progress-bar {
    background: #d9777f;
}

.btn {
    background-color: $dark;
}

ul {
    list-style-type: none;
}



@import '~bootstrap/scss/bootstrap';
// @import "./node_modules/bootstrap/scss/bootstrap.scss";

// Default variable overrides
$body-bg: #F2F2F2;
$body-color: #262526;




